  
* {
  margin: 0px;
  padding: 0px;
}

body{
  min-width: 315px;
}

img{
    width: 100%;
    height: 135px;
    max-height: 100%;
    border-radius: 5%;
}

.flex-container :hover img{
  -webkit-transform: scale(1.1);
  transform: scale(1.05);
}

.boxValor{
    display: flex;
}

.logo{
    background-color: rgb(247, 155, 36);
    margin: 0 auto;
    height: 2.5rem;
    margin-bottom: 5px;
    width: 30%;  
    min-width: 340px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;    
}

section{ 
    background-color: rgb(247, 155, 36);
    margin: 0 auto;
    height: 100%;
    width: 30%;  
    min-width: 340px;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


.flex-container {
    overflow:auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box{
      margin: .7rem;
      border-radius: 7%;
      width: 12vw;
      min-width: 135px;
      height: 15vh;
      min-height: 100px;
  }
   
  .boxFinal{
    margin: .7rem;
    border-radius: 7%;
    width: 12vw;
    min-width: 135px;
    height: 7vh;
    min-height: 30px;

  }
#fixed{
    background-color: rgb(179, 107, 13);
    height: 7.5%;
    width: 30%;  
    min-width: 340px;
    bottom:0;
    position:fixed;
}